<!doctype html>
<html>

<head>
    <title>Url Shortener Microservice</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="./stylesheets/style.css" />
</head>

<body>
    <div class="padding main-div">
        <h1>Url Shortener Microservice</h1>
        <div class="inset-div">
            <p>
                <strong>
                  User stories:
                </strong>
            </p>
            <div class="push-left">
              <p>
                   1) I can pass a URL as a parameter and I will receive a shortened URL in the JSON response.
              </p>
            </div>
            <div class="push-left">
              <p>
                   2) If I pass an invalid URL that doesn't follow the valid http://www.example.com format, the JSON response will contain an error instead.
              </p>
            </div>
            <div class="push-left">
              <p>
                   3) When I visit that shortened URL, it will redirect me to my original link.
              </p>
            </div>
        </div>
        <p>
          <strong>
            Example usage:
          </strong>
        </p>
<pre>
<a href="Insert link here">Insert link here</a>
</pre>
        <p>
          <strong>
            Example output:
          </strong>
        </p>
<pre>
</pre>
    </div>
</body>

</html>
